.sidenav-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  -webkit-touch-callout: none;
  user-select: none;

  .left-text {
    writing-mode: vertical-rl;
    align-self: center;
  }

  .right-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: center;
  }
}