.intro-container {
  .intro-content {
    position: absolute;
    color: #000000;
    font-size: 80px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translateX(-50%) translateY(-50%);
  }

  @media (max-width: 1440px) {
    .intro-content {
      font-size: 3rem;
    }
  }

  .intro-content:before,
  .intro-content:after {
    content: "";
    padding: 0.9em 0.4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 15px solid #0db1b0;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out rotate-rect;
  }

  @media (max-width: 1440px) {
    .intro-content:before,
    .intro-content:after {
      padding: 2em 0.4em;
      border: 10px solid #0db1b0;
    }
  }

  .intro-content:before {
    border-color: #0db1b0 #0db1b0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }

  .intro-content:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #0db1b0 #0db1b0;
  }

  @keyframes rotate-rect {
    0% {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
}
