@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(https://fonts.googleapis.com/css2?family=Tinos:ital@1&display=swap);

.profile-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 45px;

  .left-contents {
    background: #0db1b0;
    flex: 1;

    .profile-img {
      width: 60%;
      height: auto;
    }

    //Android & Front-end Developer
    .profile-text {
      color: #fff;
    }
  }
  
  .right-contents {
    background: #fff;
    flex: 1;
    height: 100%;
    display: grid;
  }
}
